body{
    background: rgb(240, 239, 237);
}

.google-header{
    width: 40px;
    padding-bottom: 10px;
}

p.lead{
    color: rgb(95, 10, 10);
}

.p-int{
    font-family: arial;
}

.p-mg{
    font-weight: 600;
    font-family: arial;
    color:rgb(182, 150, 10);
}

footer{
    background-color: rgb(226, 226, 226);
}
footer p{
    color: rgb(148, 145, 145);
}