body{
    background: rgb(253, 252, 250);
}

p.lead{
    color: rgb(231, 19, 19);
}

.p-int{
    font-family: arial;
}

.p-mg{
    font-weight: 600;
    font-family: arial;
    color:rgb(182, 150, 10);
}

footer{
    background-color: rgb(233, 233, 233);
}
footer p{
    color: rgb(148, 145, 145);
}